<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{shared/fragments :: header}"></div>

<h1>Loty:</h1>

<div th:if="${errorMessage}" class="flash-error">
    <p th:text="${errorMessage}"></p>
</div>

<div style="margin-bottom: 20px;">
    <a th:href="@{/flights/create}" class="button" sec:authorize="hasRole('ADMIN')">Utwórz lot</a>
</div>

<div th:if="${#lists.isEmpty(flights)}">
    <p>Brak dostępnych lotów.</p>
</div>

<table th:unless="${#lists.isEmpty(flights)}" border="1" cellpadding="10" cellspacing="0" style="width:100%; border-collapse: collapse;">
    <thead>
    <tr>
        <th>Lot z</th>
        <th>Lot do</th>
        <th>Data wylotu</th>
        <th>Długość lotu</th>
        <th>Status</th>
        <th>Akcja</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="flight : ${flights}">
        <td th:text="${flight.departureAirport?.name}">Lotnisko wylotu</td>
        <td th:text="${flight.arrivalAirport?.name}">Lotnisko przylotu</td>
        <td th:text="${#temporals.format(flight.departureDate, 'yyyy-MM-dd HH:mm')}">Data wylotu</td>
        <td th:text="${flight.flightDuration != null ? flight.flightDuration.toHours() + 'h ' + (flight.flightDuration.toMinutes() % 60) + 'min' : 'Brak danych'}">Długość lotu</td>
        <td>
            <span th:if="${flight.isDeparted()}">Wystartował</span>
            <span th:unless="${flight.isDeparted()}">Czeka na wystartowanie</span>
        </td>
        <td>
            <form th:action="@{/reservations/create}" method="get">
                <input type="hidden" name="flightId" th:value="${flight.id}"/>
                <button type="submit" th:disabled="${flight.isDeparted()}">
                    <span th:if="${flight.isDeparted()}">Rezerwacja niemożliwa</span>
                    <span th:unless="${flight.isDeparted()}">Zarezerwuj</span>
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>