<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utwórz konto</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="~{shared/fragments :: header}"></div>

<h1>Zarejestruj się</h1>
<form th:action="@{/passengers}" th:object="${passengerDTO}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p th:each="err : ${#fields.globalErrors()}"
           th:text="${err}"
           class="error"></p>
    </div>

    <p>
        <label for="nameInput">Imię:</label>
        <input id="nameInput" type="text" th:field="*{name}" th:classappend="${#fields.hasErrors('name')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></span>
    </p>
    <p>
        <label for="surnameInput">Nazwisko:</label>
        <input id="surnameInput" type="text" th:field="*{surname}" th:classappend="${#fields.hasErrors('surname')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></span>
    </p>
    <p>
        <label for="passwordInput">Hasło:</label>
        <input id="passwordInput" type="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></span>
    </p>
    <p>
        <label for="matchingPasswordInput">Potwierdź hasło:</label>
        <input id="matchingPasswordInput" type="password" th:field="*{matchingPassword}" th:classappend="${#fields.hasErrors('matchingPassword')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}" class="error"></span>
    </p>
    <p>
        <label for="phoneInput">Numer telefonu:</label>
        <input id="phoneInput" type="tel" th:field="*{phoneNumber}" th:classappend="${#fields.hasErrors('phoneNumber')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error"></span>
    </p>
    <p>
        <label for="emailInput">Email:</label>
        <input id="emailInput" type="email" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'error-border'" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></span>
    </p>
    <p>
        <input type="submit" value="Zarejestruj" />
    </p>
</form>
</body>
</html>